@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 87, 16, 131;
  --background-middle-rgb: 37, 27, 45;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 87, 16, 131;
    --background-middle-rgb: 37, 27, 45;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      
      rgb(var(--background-middle-rgb)),
      rgb(var(--background-end-rgb)),
      rgb(var(--background-end-rgb))
    )
    no-repeat;
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gradient-searchbar {
  background: linear-gradient(
    to right,
    #851ED6, 
    #7B32B5, 
    #763BA5, 
    #724594  
  );
}

/* Placeholder styles */
input::placeholder {
  color: lightgray;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: lightgray;
}

::-webkit-input-placeholder { 
  color: lightgray;
}

.event {
  background-color: rgb(62, 43, 75);
}

.eventMain {
  background: linear-gradient(
    to bottom, 
    #301541,
    #170E1C,
    #170E1C,
    #301541
  );
}

.featuredevent {
  background-color:  rgb(62, 43, 75);
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}