@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 87, 16, 131;
  --background-middle-rgb: 37, 27, 45;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 87, 16, 131;
    --background-middle-rgb: 37, 27, 45;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  min-height: 100vh;
  background-image: 
    linear-gradient(180deg, #213460 0%, #1E2846 2.8%, #1A1A24 7.9%, #1A1A24 75%, #1A1A24 100%),
    radial-gradient(50% 50% at 50% 48.86%, rgba(79, 67, 67, 0.00) 0%, rgba(0, 0, 0, 0.15) 100%),
    linear-gradient(to bottom, transparent 2000px, #1A1A24 2000px);
  background-size: 
    100% 2000px,
    100% 2000px,
    100% 100%;
  background-repeat: 
    no-repeat,
    no-repeat,
    repeat-y;
  background-position: top left;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gradient-searchbar {
  background: linear-gradient(
    to right,
    #851ED6, 
    #7B32B5, 
    #763BA5, 
    #724594  
  );

  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480);
}

/* Placeholder styles */
input::placeholder {
  color: lightgray;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: lightgray;
}

::-webkit-input-placeholder { 
  color: lightgray;
}

.event {
  background-color: rgb(62, 43, 75);
  background: linear-gradient(to right, #3F2A94, #4F2074, #623485, #74393A);
}


.eventMain {
  background: linear-gradient(
    to bottom, 
    #301541,
    #170E1C,
    #170E1C,
    #301541
  );
  background: linear-gradient(to bottom, #3F2A94, #4F2074, #623485, #74393A);
}

.featuredevent {
  background-color:  rgb(62, 43, 75);
  background: linear-gradient(to right, #3F2A94, #4F2074, #623485, #74393A);
}

.pinimage {
  display: inline;
}

.slick-slide .event img {
  display: inline-block !important;
  vertical-align: middle;
}


.carousel-container .slick-slide {
  opacity: 0.5; /* Faded opacity for non-centered slides */
  transition: opacity 0.5s ease;
}

.carousel-container .slick-center {
  opacity: 1; /* Full opacity for the centered slide */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.gradient_border {
  position: relative;
  border-radius: 1.5rem;
  padding: 4px; /* Adjust based on desired border width */
}

.gradient_border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 4px; /* Should match the parent's padding */
  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}


.gradient {
  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480) 1;
}