@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 87, 16, 131;
  --background-middle-rgb: 37, 27, 45;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 87, 16, 131;
    --background-middle-rgb: 37, 27, 45;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      
      rgb(var(--background-middle-rgb)),
      rgb(var(--background-end-rgb)),
      rgb(var(--background-end-rgb)),
      rgb(var(--background-end-rgb))
    )
    no-repeat;    


    background: linear-gradient(180deg, rgba(34, 209, 253) -1.14%, rgba(39, 71, 117) -1.14%, rgba(39, 71, 117) -0.16%, rgba(35, 55, 82) 2.13%, rgba(33, 43, 57) 4.65%, rgba(29, 30, 37) 8.75%);

    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.gradient-searchbar {
  background: linear-gradient(
    to right,
    #851ED6, 
    #7B32B5, 
    #763BA5, 
    #724594  
  );

  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480);
}

/* Placeholder styles */
input::placeholder {
  color: lightgray;
  opacity: 1; 
}

::-ms-input-placeholder { 
  color: lightgray;
}

::-webkit-input-placeholder { 
  color: lightgray;
}

.event {
  background-color: rgb(62, 43, 75);
  background: linear-gradient(to right, #3F2A94, #4F2074, #623485, #74393A);
}


.eventMain {
  background: linear-gradient(
    to bottom, 
    #301541,
    #170E1C,
    #170E1C,
    #301541
  );
  background: linear-gradient(to bottom, #3F2A94, #4F2074, #623485, #74393A);
}

.featuredevent {
  background-color:  rgb(62, 43, 75);
  background: linear-gradient(to right, #3F2A94, #4F2074, #623485, #74393A);
}

.pinimage {
  display: inline;
}

.slick-slide .event img {
  display: inline-block !important;
  vertical-align: middle;
}


.carousel-container .slick-slide {
  opacity: 0.5; /* Faded opacity for non-centered slides */
  transition: opacity 0.5s ease;
}

.carousel-container .slick-center {
  opacity: 1; /* Full opacity for the centered slide */
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.gradient_border {
  border-color: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480) 1;
  border-radius: 1.5rem;
}

.gradient {
  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480) 1;
}

body{
  background: linear-gradient(to right, #5C3BDF80, #7B32B580, #763BA580, #C3626480) 1;

}